.footer {
    background-color: #01003D;    
    color: #FF8049;
    display: grid;
    height: 58%;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.footer-bloco {
    display: block;
    text-align: center;
}


.footer-bloco h1 {
    font-size: 35px;
    margin-top: 15px;   
    margin-bottom: 15px; 
}

.footer-bloco p {
    line-height: 26px;
}

.footer-bloco h3 {
    font-size: 25px;
    margin-top: 15px;   
    margin-bottom: 15px;
}

.footer-bloco #ultimo {
    margin-bottom: 15px;
}

.footer .footer-bloco img {
    justify-content: center;
    align-items: center;
    width: 100px;
}















