.tituloprodutos {
    background-color: #FF8049;
    margin-top: 0;
    padding: 20px 40px;
    font-size: 80px;
    text-align: center;
}

.categorias {
    background: white !important;
}

.categorias h1{
    text-align: center;
    margin-top: 0;
    padding: 20px 40px;
    font-size: 40px;
}

.produtos-cat p {
    text-decoration: none;
}




